
$secondary: rgba(0, 0, 0, 0.117647);

$border: 1px solid $secondary;



:host {
  display: inline-block;
  border:$border;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
}


.modal-body {



}
