
.container {
  margin: 0 auto;
  max-width: 600px;
  padding-top:65px;
}

label {
  width: 200px;
  text-align: right;
}

.form-row {
  width:500px;
  margin-bottom: 10px;
}


input {
  height: 25px;
}
