<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img class="v-center-block logo-small angular-university-logo"
             src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
             data-pin-nopin="true">

      </a>
    </li>
    <li>
      <a>Inputs</a>
    </li>
  </ul>

</header>

<body>
<div class="container">
  <h1>
    au-input-box Examples
  </h1>




  <au-fa-input icon="cc-stripe">
    <input type="email" name="email" placeholder="E-mail">
  </au-fa-input>

  <au-fa-input icon="paypal">
    <input type="email" name="email" placeholder="E-mail">
  </au-fa-input>

  <au-fa-input icon="envelope">
    <input type="email" name="email" placeholder="E-mail">
  </au-fa-input>

  <au-fa-input icon="lock">
    <input type="email" name="email" placeholder="E-mail">
  </au-fa-input>




</div>

</body>

