

.container {
    margin: 0 auto;
    max-width: 350px;
    padding-top:65px;
}

label {
    display: block;
    margin-top: 15px;

}

.form-input {
    display: block;
    border-radius: 4px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: "Courier", serif;
    width:250px;
    margin-bottom: 15px;
    border: 2px solid darkgray;
    padding: 5px 10px 5px 10px;
}


input::-ms-clear {
    display: none;
}

.form-field {
    display: block;
    margin-bottom: 10px;
}

.form-field label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 5px;
}

.modal-button {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    color: white;
    background: #1976d2;
    font-weight: bold;
    outline: none;
}

.modal-buttons {
    padding: 0 20px;
}



.modal-buttons button {
    border-radius: 4px;
    color: white;
    background: #1976d2;
    width: 100px;

}

.payment-form {
    margin-bottom: 15px;
}









