<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container">
      <a class="v-center-block-parent">
        <img class="v-center-block logo-small angular-university-logo"
             src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
             data-pin-nopin="true">

      </a>
    </li>
    <li>
      <a>Modal</a>
    </li>
  </ul>

</header>

<body>
<div class="container">

  <h1>Modal Examples</h1>








  <div class="modal-buttons">

    <button #loginButton>Login</button>

    <button #signUpButton>Sign Up</button>

  </div>

</div>

</body>








