
<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li class="logo-small-container small-menu-header">
      <a class="v-center-block-parent" routerlink="home" href="/home">
        <img class="v-center-block logo-small angular-university-logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" data-pin-nopin="true">

      </a>
    </li>
    <li>
      <a routerLink="masks"
         routerLinkActive="menu-active">Masks</a>
    </li>
  </ul>

</header>

<div class="container">

  <router-outlet></router-outlet>

</div>



