
.container {
  margin: 0 auto;
  max-width: 600px;
  padding-top:65px;
}

label {
  width: 200px;
  text-align: right;
}

.form-row {
  width:500px;
  margin-bottom: 10px;
}


input {
  height: 25px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

au-fa-input.input-focus.red-outline {
         border:1px solid red;
         -webkit-box-shadow: 0px 0px 5px  red;
         box-shadow: 0px 0px 5px  red;
}
