
button {
  background: #45b1e8;
  background-image: -webkit-linear-gradient(#45b1e8, #3097de);
  background-image: linear-gradient(#45b1e8, #3097de);
  color: #fff;
  border-radius: 4px;
  outline: none;
  padding: 3px 10px;
}

