<header class="l-header">
    <ul class="top-menu disable-link-styles">
        <li class="logo-small-container">
            <a class="v-center-block-parent">
                <img class="v-center-block logo-small angular-university-logo"
                     src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
                     data-pin-nopin="true">

            </a>
        </li>
        <li>
            <a>Masks</a>
        </li>
    </ul>

</header>

<body>
<div class="container">
    <h1>
        Input Mask Examples
    </h1>

    <label>Phone:</label>
    <input au-mask="(999) 999-9999">

    <label>International Phone Number</label>
    <input au-mask="+99 999 99 99 99">

    <label>Credit Card</label>
    <input au-mask="9999 9999 9999 9999">


    <label>VAT Number</label>
    <input au-mask="AA-9999 9999 9999 9999">

    <label>Date</label>
    <input au-mask="39/19/9999">

    <label>Text</label>
    <input value="ABCD">


</div>

</body>