<h2>
    Tab Panel
</h2>


<div class="container">

    <ng-template #headerButtons>

        <button (click)="tabPanel.selectTab(loginTab)">Login</button>
        <button (click)="tabPanel.selectTab(signUpTab)">Sign Up</button>

    </ng-template>


    <au-tab-panel id="tab-panel" #tabPanel>

        <au-tab title="Login" #loginTab [selected]="false">
            <form>
                <div class="form-field">
                    <label>Email:</label><input class="login-email">
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
            </form>
        </au-tab>

        <au-tab title="Sign Up" #signUpTab [selected]="false">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
                <div class="form-field">
                    <label>Confirm Password:</label><input>
                </div>
            </form>
        </au-tab>

        <au-tab title="Contact" [selected]="true">
            <form>
                <div class="form-field">
                    <label>Email:</label><input class="contact-email">
                </div>
                <div class="form-field">
                    <label>Message:</label>
                    <textarea></textarea>
                </div>
            </form>
        </au-tab>

    </au-tab-panel>

</div>


