<h2>
  Tab Container
</h2>


<div class="container">

  <ng-template #header let-tabs="tabs">
    <ul>
      <li *ngFor="let tab of tabs">{{tab.title}}</li>
    </ul>
  </ng-template>

  <au-tab-panel>

    <au-tab title="Login">
      <form>
        <div class="form-field">
          <label>Email:</label><input name="email">
        </div>
        <div class="form-field">
          <label>Password:</label><input>
        </div>
      </form>
    </au-tab>

    <au-tab title="Sign Up">
      <form>
        <div class="form-field">
          <label>Email:</label><input>
        </div>
        <div class="form-field">
          <label>Password:</label><input>
        </div>
        <div class="form-field">
          <label>Confirm Password:</label><input>
        </div>
      </form>
    </au-tab>

    <au-tab title="Contact" [selected]="true">
      <form>
        <div class="form-field">
          <label>Email:</label><input>
        </div>
        <div class="form-field">
          <label>Message:</label>
          <textarea></textarea>
        </div>
      </form>
    </au-tab>

  </au-tab-panel>



</div>


