<h2>
    Tab Panel
</h2>


<div class="container">

    <div class="tab-panel">

        <ul class="tab-panel-buttons">
            <li class="selected">Login</li>
            <li>Sign Up</li>
            <li>Contact</li>
        </ul>

        <div class="tab">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
            </form>
        </div>

        <div class="tab">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
                <div class="form-field">
                    <label>Confirm Password:</label><input>
                </div>
            </form>
        </div>

        <div class="tab">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Message:</label>
                    <textarea></textarea>
                </div>
            </form>
        </div>

    </div>


</div>


