

@import "./theme";


.tab-panel {

  box-shadow: $box-shadow;

  .tab-panel-buttons {

    list-style: none;
    text-align: left;
    margin-bottom: 0;
    padding: 7px 0 0 10px;
    background: $primary;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    li {
      display: inline-block;
      color: white;
      background: $primary-tint-1;
      padding: 2px 20px;
      cursor: pointer;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-top: $tab-border;
      border-left: $tab-border;
      border-right: $tab-border;
      margin-right: 5px;

      &.selected {
        background: white;
        color:$text;
        border-bottom: 1px solid white;
      }

    }

  }

  .tab {
    border-left: $tab-border;
    border-right: $tab-border;
    border-bottom: $tab-border;
    padding: 15px 25px;
  }


}


